
@model IEnumerable<BD_Final_Project.Models.VwGestionDesEquipe>

@{
    ViewData["Title"] = "Index";
}


<h1>plus de détail</h1>
<p>
    <a asp-action="Index">retour index</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeDeFondation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championnat)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().Equipe)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().AnneeDeFondation)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().Ville)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().Championnat)
                </td>
              
                <td>
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().Niveau)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.FirstOrDefault().EquipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.FirstOrDefault().EquipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.FirstOrDefault().EquipeId">Delete</a>
                </td>
            </tr>   
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Joueur)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Joueur)
                </td>
            </tr>
        }
    </tbody>
</table>
